<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ 'ldfcorp.global.description'|trans }}" />
        <meta name="keywords" content="{{ 'ldfcorp.global.keywords'|trans }}" />
        <title>{% block title %}LDFCorp{% endblock %}</title>
        <!-- Bootstrap -->
        <link href="{{ asset('bundles/gnkwldfldfcorp/lib/bootstrap-3.1.1-dist/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/gnkwldfldfcorp/css/main.css') }}" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/gnkwldfldfcorp/images/ico.ico') }}" />
    </head>
    <body>
        {% set embeded = false %}
        {% block body %}{% endblock %}
        {% if not embeded %}
        <footer>
            <div class="footer">
                <div class="container">
                    <div class="footer-middle">
                        <p>LDFCorp © <a target="_blank" href="http://www.gnkw.org" title="Gnuk's Network Kernel for Web">GNKW</a> &amp; <a target="_blank" href="http://ldfcorp.fr" title="Le Dessinateur Fou">LDF</a> 2014 - Sources on MIT License <a href="https://github.com/gnkwldf/ldfcorp"><em class="label label-primary">Fork me on github</em></a></p>
                    </div>
                </div>
            </div>
        </footer>
        {% endif %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset('bundles/gnkwldfldfcorp/js/jquery-1.11.1.min.js') }}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('bundles/gnkwldfldfcorp/lib/bootstrap-3.1.1-dist/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
