{% extends "GNKWLDFLdfcorpBundle::standardLayout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'ldfcorp.home.title'|trans }}{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/gnkwldfldfcorp/js/index.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <header>
    {% include "GNKWLDFLdfcorpBundle::bootstrapHeader.html.twig" with { 'pageActive' : 'ldfcorp_home' } %}
    </header>
    <div class="container ldfcorp-content">
        <div class="ldfcorp-leftzone">
            <div class="ldfcorp-video">
                <iframe class="ldfcorp-video-frame" frameborder="0" src="//www.dailymotion.com/embed/video/x1hc74y" allowfullscreen></iframe>
            </div>
            <div class="ldfcorp-description">
                <article>
                    <form class="form">
                        <div class="form-group">
                            <p>
                                <label class="control-label" for="select-vote">Pokémon</label>
                                <select id="select-vote" class="form-control" name="pokemon">
                                    {% for pokemon in list %}
                                    <option value="{{ pokemon.number }}">{{ pokemon.number }} - {{ ('ldfcorp.pokemon.list.' ~ pokemon.number ~ '.name')|trans }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                        </div>
                        <p><input class="btn btn-primary" type="submit" value="Vote"/> <span class="ldfcorp-wait"></span></p>
                    </form>
                </article>
            </div>
        </div>
        <iframe class="ldfcorp-chat" frameborder="0" src="//www.twitch.tv/ldf_/chat"></iframe>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ldfcorp-page">
                <h2>Page titre</h2>
                <p>Bienvenue à toi sur ce live ! Moi, LDF, je vais tenter de faire tous les pokemons de chacune des générations ! Lui c'est Boidin, un dessinateur gamer, maître de la frite ! Il va dessiner ce que tu lui proposeras ! Oh ! Là bas ! Un ours bleu ! Soit gentil avec lui et il te jouera de la guitare et débattra avec toi sur des sujets tous plus passionnants les uns que les autres !</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ldfcorp-links">
                <article>
                    <h2>Liens</h2>
                    <ul>
                        <li><a href="#" class="btn btn-default">Facebook</a></li>
                        <li><a href="#" class="btn btn-default">Twitter</a></li>
                        <li><a href="#" class="btn btn-default">Youtube</a></li>
                        <li><a href="#" class="btn btn-default">Don</a></li>
                        <li><a href="#" class="btn btn-default">Tipeee</a></li>
                        <li><a href="#" class="btn btn-default">Boutique</a></li>
                        <li><a href="#" class="btn btn-default">Pokédex</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
{% endblock %}