{% extends "GNKWLDFLdfcorpBundle::standardLayout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'ldfcorp.home.title'|trans }}{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/gnkwldfldfcorp/js/pokemon.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <header>
    {{ render(controller('GNKWLDFLdfcorpBundle:Default:bootstrapHeader', { 'pageActive': 'ldfcorp_home' })) }}
    </header>
    <div class="container ldfcorp-content">
        <div class="ldfcorp-leftzone">
            <div class="ldfcorp-video">
                <iframe class="ldfcorp-video-frame" frameborder="0" src="//www.dailymotion.com/embed/video/x1hc74y" allowfullscreen></iframe>
            </div>
            <div class="ldfcorp-description">
                <h2>Page titre</h2>
                <p>{{ 'ldfcorp.global.description'|trans }}</p>
            </div>
        </div>
        <iframe class="ldfcorp-chat" frameborder="0" src="//www.twitch.tv/ldf_/chat"></iframe>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ldfcorp-page">
                {{ render(controller('GNKWLDFLdfcorpBundle:Default:voteInclude')) }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ldfcorp-links ldfcorp-buttons-list">
                <article>
                    <h2>Liens</h2>
                    <ul>
                        <li><a href="#" class="btn btn-default">Facebook</a></li>
                        <li><a href="#" class="btn btn-default">Twitter</a></li>
                        <li><a href="#" class="btn btn-default">Youtube</a></li>
                        <li><a href="#" class="btn btn-default">Don</a></li>
                        <li><a href="#" class="btn btn-default">Tipeee</a></li>
                        <li><a href="#" class="btn btn-default">Boutique</a></li>
                        <li><a href="#" class="btn btn-default">Pokédex</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
{% endblock %}