{% extends "GNKWLDFLdfcorpBundle::standardLayout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'ldfcorp.home.title'|trans }}{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/gnkwldfldfcorp/js/poll.js') }}" type="text/javascript"></script>
{# TODO : Detect page ads from page #}
{# {% if page.ads %} #}
{{ include('GNKWLDFLdfcorpBundle:Page:adblockVideo.html.twig') }}
{# {% endif %} #}
<script type="text/javascript">

    $('.refresh-video-frame').click(function(e){
        var linksArea = "";
        var link;
        var ul;
        var a;
        $.ajax({
            type: 'GET',
            url: Routing.generate('ldfcorp_api_home_page'),
            success: function(page){
                if(typeof(page.video_link) !== 'undefined') {
                    refreshFrame($('.ldfcorp-video-frame'), page.video_link);
                }
                else {
                    refreshFrame($('.ldfcorp-video-frame'));
                }
                $(".page-name").text(page.name);
                
                if(typeof(page.description) !== 'undefined') {
                    $(".page-description").text(page.description);
                }
                else {
                    $(".page-description").text("");
                }
                
                if(page.links.length > 0) {
                    linksArea= "<article>"
                        +"<h2>{{ 'ldfcorp.page.links'|trans }}</h2>"
                        +"<ul>"
                        +"</ul>";
                }
                $(".page-links").html(linksArea);
                ul = $(".page-links ul");
                for(var key in page.links) {
                    link = page.links[key];
                    a = $('<a></a>');
                    a.attr("target", "_blank");
                    a.addClass("btn");
                    a.addClass("btn-default");
                    if(typeof(link.title) !== 'undefined') {
                        a.attr('title', link.title);
                    }
                    a.attr('href', link.url);
                    a.text(link.name);
                    li = $('<li></li>');
                    li.append(a);
                    ul.append(li);
                }
            }
        });
        e.preventDefault();
    });

    $('.refresh-chat-frame').click(function(e){
        refreshFrame($('.ldfcorp-chat-frame'));
        e.preventDefault();
    });
    
    function refreshFrame(selector, url){
        if( typeof(url) === 'undefined' ) {
            url = function ( i, val ) { return val; };
        }
        console.log(url);
        selector.attr( 'src', url );
    }
</script>
{% endblock %}

{% block body %}
    <header>
    {{ render(controller('GNKWLDFLdfcorpBundle:Default:bootstrapHeader', { 'pageActive': 'ldfcorp_home' })) }}
    </header>
    <div class="container ldfcorp-content">
        <div class="ldfcorp-leftzone">
            <div class="ldfcorp-video">
    {% if page.videoLink is not null %}
                <iframe class="ldfcorp-video-frame" frameborder="0" src="{{ page.videoLink }}" allowfullscreen></iframe>
    {% endif %}
            </div>
            <p class="pull-right">
                <a class="refresh-video-frame" title="{{ 'ldfcorp.page.refresh.video.title'|trans }}" href="#"><span class="glyphicon glyphicon-refresh"></span><span class="sr-only">{{ 'ldfcorp.page.refresh.video.text'|trans }}</span></a>
            </p>
            <div class="clearfix"></div>
            <div class="ldfcorp-description">
                <h2 class="page-name">{{ page.name }}</h2>
                <p class="page-description">{{ page.description }}</p>
            </div>
        </div>
        <div class="ldfcorp-chat">
            <iframe class="ldfcorp-chat-frame" frameborder="0" src="//www.twitch.tv/ldf_/chat"></iframe>
            <p class="pull-right">
                <a class="refresh-chat-frame" title="{{ 'ldfcorp.page.refresh.chat.title'|trans }}" href="#"><span class="glyphicon glyphicon-refresh"></span><span class="sr-only">{{ 'ldfcorp.page.refresh.chat.text'|trans }}</span></a>
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ldfcorp-page">
                {{ render(controller('GNKWLDFLdfcorpBundle:Default:voteInclude')) }}
                {{ render(controller('GNKWLDFLdfcorpBundle:Poll:voteInclude')) }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ldfcorp-links ldfcorp-buttons-list page-links">
    {% if page.links is not empty %}
                <article>
                    <h2>{{ 'ldfcorp.page.links'|trans }}</h2>
        {%spaceless%}
                    <ul>
            {% for link in page.links %}
                        <li><a target="_blank" href="{{ link.url }}"{% if link.title is not null %} title="{{ link.title }}"{% endif %} class="btn btn-default">{{ link.name }}</a></li>
            {% endfor %}
                    </ul>
        {% endspaceless %}
                </article>
    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}