{% extends "GNKWLDFLdfcorpBundle::standardLayout.html.twig" %}

{% block title %}{{ parent() }} - {{ pageTitle }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gnkwldfldfcorp/js/page-form.js') }}"></script>
{% endblock %}

{% block body %}
{% form_theme form 'GNKWLDFLdfcorpBundle:Form:bootstrap.html.twig' %}
<header>
    {{ render(controller('GNKWLDFLdfcorpBundle:Default:bootstrapHeader', { 'pageActive': 'ldfcorp_page_list' })) }}
</header>
<div class="container ldfcorp-content">
    <article>
        <h1>{{ pageTitle }}</h1>
        {{ form(form, {'attr': {'class': 'form'}}) }}
    </article>
</div>
{% endblock %}