{% extends "GNKWLDFLdfcorpBundle::standardLayout.html.twig" %}

{% block title %}{{ parent() }} - {{ pageTitle }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gnkwldfldfcorp/js/symfony-form.js') }}"></script>
    <script>
    jQuery(document).ready(function() {
        var pageForm = new SfForm($('#gnkwldf_ldfcorpbundle_page_links'), "Ajouter un lien", "Supprimer ce lien");
        pageForm.init();
        
        $(".ldfcorp-form-link-iframe").blur(function(){
            var $that = $(this);
            var $formGroup = $that.closest(".form-group");
            var url = $that.val();
            if("" !== url) {
                var json = {
                    url: url
                }
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('ldfcorp_api_video_checker'),
                    data: JSON.stringify(json),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function(iframe){
                        $formGroup.removeClass("has-error");
                        $formGroup.removeClass("has-success");
                        if(iframe.valid) {
                            $that.next('.ldfcorp-form-type-iframe').remove();
                            $formGroup.addClass("has-success");
                            var type = $('<span class="label label-default ldfcorp-form-type-iframe">');
                            type.text("Ce lien provient du service " + iframe.type);
                            $that.after(type);
                            
                        }
                        else {
                            $formGroup.addClass("has-error");
                        }
                        if(iframe.valid && iframe.changing) {
                            $that.val(iframe.url);
                        }
                    }
                });
            }
        });
    });
    </script>
{% endblock %}

{% block body %}
{% form_theme form 'GNKWLDFLdfcorpBundle:Form:bootstrap.html.twig' %}
<header>
    {{ render(controller('GNKWLDFLdfcorpBundle:Default:bootstrapHeader', { 'pageActive': 'ldfcorp_page_list' })) }}
</header>
<div class="container ldfcorp-content">
    <article>
        <h1>{{ pageTitle }}</h1>
        {{ form(form, {'attr': {'class': 'form'}}) }}
    </article>
</div>
{% endblock %}