{% extends "GNKWLDFLdfcorpBundle::standardLayout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<header>
{% include "GNKWLDFLdfcorpBundle::bootstrapHeader.html.twig" with { 'pageActive' : 'ldfcorp_page_create' } %}
</header>
<div class="container ldfcorp-content">
    <article>
        <h1>Ma page</h1>
        <form class="form" role="form" action="{{ path('ldfcorp_page_create')}}" method="post" {{ form_enctype(form) }}>
        
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, { 'attr':{'class':'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>
        
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, { 'attr':{'class':'form-control'} }) }}
                {{ form_errors(form.description) }}
            </div>
            {{ form_rest(form) }}
            <input type="submit" class="btn btn-primary" />
        </form>
    </article>
</div>
{% endblock %}