{% extends "GNKWLDFLdfcorpBundle::standardLayout.html.twig" %}

{% block title %}{{ parent() }} - {{ page.name }}{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/gnkwldfldfcorp/js/poll.js') }}" type="text/javascript"></script>
{{ include('GNKWLDFLdfcorpBundle:Page:adblockVideo.html.twig') }}
<script type="text/javascript">
    
    $(document).ready(function(){

        var  blocker = new Blocker();
{% if page.ads %}
        blocker.active();
{% endif %}
        
        $('.refresh-video-frame').click(function(e){
            refreshFrame($('.ldfcorp-video-frame'));
            e.preventDefault();
        });
        $('.refresh-chat-frame').click(function(e){
            refreshFrame($('.ldfcorp-chat-frame'));
            e.preventDefault();
        });
        
        function refreshFrame(selector){
            selector.attr( 'src', function ( i, val ) { return val; });
        }
        $('.page-online .btn').click(function(){
            var button = $(this);
            var online = button.attr('data-online');
            var id = button.attr('data-id');
            if(online === '0')
            {
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('ldfcorp_page_online', { id: id }),
                    data: {
                        'online': true
                    },
                    success: function(m){
                        button.addClass('btn-success');
                        button.removeClass('btn-danger');
                        button.attr('data-online', 1);
                        button.text('En ligne');
                    }
                });
            }
            else
            {
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('ldfcorp_page_online', { id: id }),
                    data: {
                        'online': false
                    },
                    success: function(m){
                        button.addClass('btn-danger');
                        button.removeClass('btn-success');
                        button.attr('data-online', 0);
                        button.text('Hors ligne');
                    }
                });
            }
        });
        var pokemonVote = new Vote($( ".ldfcorp-form-poll-pokemon" ), 'pokemon', Routing.generate('ldfcorp_vote'), {{ pokemonTimeout }});
        pokemonVote.init();
        var pollId = $( ".ldfcorp-form-poll" ).attr('data-id');
        var pollVote = new Vote($( ".ldfcorp-form-poll" ), 'entry', Routing.generate('ldfcorp_poll_vote', { id : pollId}), {{ pollTimeout }});
        pollVote.init();
    });
</script>
{% endblock %}

{% block body %}
    <header>
        {{ render(controller('GNKWLDFLdfcorpBundle:Default:bootstrapHeader', { 'pageActive': path('ldfcorp_page_show', { 'id' : page.id }) })) }}
    </header>
    <div class="container ldfcorp-content">
    {% if actions %}
        <div class="row ldfcorp-actions">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ldfcorp-page ldfcorp-buttons-list">
                <ul>
                    <li><a class="btn btn-primary" href="{{ path('ldfcorp_page_edit', { 'id' : page.id }) }}">{{ 'ldfcorp.page.show.action.edit'|trans }}</a></li>
                    <li><a class="btn btn-danger" href="{{ path('ldfcorp_page_delete', { 'id' : page.id }) }}">{{ 'ldfcorp.page.show.action.delete'|trans }}</a></li>
                    <li class="page-online">{% if page.online %}<button type="button" class="btn btn-success" data-online="1" data-id="{{ page.id }}">En ligne</button>{% else %}<button type="button" class="btn btn-danger" data-online="0" data-id="{{ page.id }}">Hors ligne</button>{% endif %}</li>
                </ul>
            </div>
        </div>
    {% endif %}
        <div class="ldfcorp-leftzone">
            <div class="ldfcorp-video">
    {% if page.videoLink is not null %}
                <iframe class="ldfcorp-video-frame" frameborder="0" src="{{ page.videoLink }}" allowfullscreen></iframe>
                <p class="pull-right">
                    <a class="refresh-video-frame" title="{{ 'ldfcorp.page.refresh.video.title'|trans }}" href="#"><span class="glyphicon glyphicon-refresh"></span><span class="sr-only">{{ 'ldfcorp.page.refresh.video.text'|trans }}</span></a>
                </p>
                <div class="clearfix"></div>
    {% endif %}
            </div>
            <div class="ldfcorp-description">
                <h2>{{ page.name }}</h2>
                <p>{{ page.description }}</p>
            </div>
        </div>
        <div class="ldfcorp-chat">
            <iframe class="ldfcorp-chat-frame" frameborder="0" src="{{ iframeChat }}"></iframe>
            <p class="pull-right">
                <a class="refresh-chat-frame" title="{{ 'ldfcorp.page.refresh.chat.title'|trans }}" href="#"><span class="glyphicon glyphicon-refresh"></span><span class="sr-only">{{ 'ldfcorp.page.refresh.chat.text'|trans }}</span></a>
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ldfcorp-page">
                {{ render(controller('GNKWLDFLdfcorpBundle:Default:voteInclude')) }}
                {{ render(controller('GNKWLDFLdfcorpBundle:Poll:voteInclude')) }}
                {% if currentUser is null %}
                    <p><a href="{{ path('fos_user_registration_register') }}">{{ 'ldfcorp.page.vote.subscribe.link'|trans }}</a> {{ 'ldfcorp.page.vote.subscribe.text'|trans }}</p>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ldfcorp-links ldfcorp-buttons-list">
    {% if page.links is not empty %}
                <article>
                    <h2>{{ 'ldfcorp.page.links'|trans }}</h2>
        {%spaceless%}
                    <ul>
            {% for link in page.links %}
                        <li><a target="_blank" href="{{ link.url }}"{% if link.title is not null %} title="{{ link.title }}"{% endif %} class="btn btn-default">{{ link.name }}</a></li>
            {% endfor %}
                    </ul>
        {% endspaceless %}
                </article>
    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}